<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/mycss/common-style.css" rel="stylesheet" />
    <link href="~/Content/mycss/loading-page.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Resources/javascripts/FormAuthentication.js"></script>
    <script src="~/Resources/javascripts/Common.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <style>
        .menu1 > a {
            width: 150px !important;
            text-align: center !important;
        }

        .menu1 > span {
            width: 200px !important;
        }
    </style>
</head>
@using IVG.Web.Mvc.Models;
@using IVG.Web.Mvc.EF

<body style="padding-top:0 !important">
    <div class="navbar navbar-inverse navbar-fixed-top container">
        <div class="w-25">
            <div>
                <a href="/home/index">
                    <img src="~/Resources/images/logo.png" />
                </a>
            </div>
        </div>
        <div class="w-75">
            <div class="d-flex justify-content-center" style="color:darkblue;">
                @if (User.Identity.IsAuthenticated)
                {
                    var roleCookie = Request.Cookies["role"];
                    var roleName = roleCookie?.Values["rolename"] ?? string.Empty;
                    if (roleName == AppEnum.Role.Staff.ToString())
                    {
                        <h3>@Html.Raw("My Portal @SVN")</h3>
                    }
                    else if (roleName == AppEnum.Role.Dealer.ToString())
                    {
                        <h3>@Html.Raw("eDealer @ Sharp Electronics VietNam")</h3>
                    }
                }
                else
                {
                    <h3>My Portal @Html.Raw("@SVN")</h3>
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                if (Session["user"] == null)
                {
                    AppDbContext db = new AppDbContext();
                    Session["user"] = db.tbl_Users.FirstOrDefault(a => a.UserName == @User.Identity.Name) ?? new tbl_Users();
                }
                var u = Session["user"] as tbl_Users;

                <div class="nav navbar navbar-inverse w-100 menu1">
                    <span class="text-truncate">Welcome @u.DisplayName</span>
                    <a href="/user/myprofile"> <i class="fa fa-user"> My profile </i> </a>
                    <a href="/user/changepassword" style="padding-left:5px;"> <i class="fa fa-key"> Change password  </i>  </a>
                    <a href="/user/logout" class=""> <i class="fa fa-lock"> Logout </i></a>
                </div>
            }
        </div>
    </div>
    <div class="container" style="padding:0">
        @if (User.Identity.IsAuthenticated)
        {
            Html.RenderAction("GetMenu", "User");
        }
        else
        {
            <hr />
        }
    </div>
    <div class="container body-content" style="padding:0;">
        @RenderBody()
    </div>
    <div class="container">
        <hr style="margin-bottom:0 !important" />
        <footer style="font-size:12px;">
            <p>&copy;Copyright SHARP ELECTRONICS VIET NAM @DateTime.Now.Year.</p>
        </footer>
    </div>
    <div class="loading" style="display:none">

    </div>
    <div style=" display:none; position:fixed; top:0;left:0; z-index:99999" class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <!--<div style="position:fixed;bottom:0;right:0;border:none; width:400px;height:500px; background-color:none; cursor:pointer;">-->
    @*@{ Html.RenderPartial("chatbox"); }*@
    @*<img style="width:50px; height:50px;" src="~/Resources/images/msg-icon.png" title="Chat với Sharp Việt Nam" />*@
    <!--</div>-->
</body>
</html>

<script>
    toastr.options = {
        "debug": false,
        "positionClass": "toast-bottom-right",
        "onclick": null,
        "fadeIn": 300,
        "fadeOut": 1000,
        "timeOut": 5000,
        "extendedTimeOut": 1000
    }
    var apiBaseUrl = '@Url.Content(IVG.Web.Mvc.WebApiConfig.UrlPrefixRelative)';
</script>
