@model IVG.Web.Mvc.Models.GetJobForStaffEditDto
@using IVG.Web.Mvc.Models;
@{
    ViewBag.Title = "Assign ASC";
}
<style>
    .card-header {
        padding: 0 !important;
    }

    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
        cursor: not-allowed;
    }

    .select2.select2-container {
        width: 100% !important;
    }
</style>

<script src="~/Javascripts/Staff/UpdateJob.js"></script>

<script>
    var caseId = '@Model.JobAndRequest.CaseID';
</script>
<!-- The Modal View Image -->
<div class="modal fade" id="imageViewModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <img name="imageView" class="img-fluid" src="~/Resources/images/order.png" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="">
        <i class="fa fa-home"></i><a href="/staff/home"> Home </a>
        <i class="fa fa-long-arrow-right"></i><a href="/staff/svc"> SVC </a>
        <i class="fa fa-long-arrow-right"></i><a href="/staff/crm"> CRM </a>
        <i class="fa fa-long-arrow-right"></i><a href="/staff/ServiceLog"> Simple Service Logs (Branch) </a>
        <i class="fa fa-long-arrow-right"></i><a href="#"> Assign ASC </a>
    </div>
</div>
<div id="accordion" style="padding-top:5px">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Thông tin tiếp nhận
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Mã sự vụ :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.JobAndRequest.CaseCode</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Mã phiếu yêu cầu :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.JobAndRequest.RequestCode</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Trạng thái :</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="text-warning trangThaiSuaChuaText">
                            @Html.Raw(Model.AllOptionSet.TrangThaiJobCombobox.FirstOrDefault(a => int.Parse(a.Id) == (Model.JobAndRequest.RepairStatus ?? 1))?.DisplayName)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Người tạo :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.UserCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.JobAndRequest.CreatedBy)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Ngày tạo :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Html.Raw(Model.JobAndRequest.CreatedOn?.ToString("dd-MM-yyyy HH:mm"))</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Người tiếp nhận :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.JobAndRequest.ReceivedBy</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Hiện tượng :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.HienTuongCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.JobAndRequest.DefectCodeID)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Diễn giải :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.JobAndRequest.Description</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Ghi chú :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.JobAndRequest.Description1</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Hình ảnh :</label>
                    </div>
                    <div class="col-sm-10">
                        @foreach (var item in Model.Files)
                        {
                            <span id=".image-name-container" style="padding-right:10px;">
                                <a href="#" data-base64="@item.Base64" class="text-info view-image"> @item.Name </a>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Thông tin sản phẩm
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Mã|Tên sản phẩm :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Html.Raw(Model.AllOptionSet.ProductCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.JobAndRequest.ModelID)?.DisplayName)</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Số serial :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.JobAndRequest.SerialNo</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Ngày mua :</label>
                    </div>
                    <div class="col-sm-2">
                        @*<label>@Html.Raw(Model.JobAndRequest.PurchaseDate?.ToString("dd-MM-yyyy"))</label>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Ngày sản xuất :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.JobAndRequest.MadeDate?.ToString("dd-MM-yyyy"))
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Ngày hết bảo hành :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.JobAndRequest.EndDate?.ToString("dd-MM-yyyy"))
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Trạng thái bảo hành :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.TrangThaiBaoHanhCombobox.FirstOrDefault(a => int.Parse(a.Id) == Model.JobAndRequest.WarrantyStatus)?.DisplayName)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Thông tin khách hàng
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Tên khách hàng :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Html.Raw(Model?.Tbl_Customers?.Name)</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Số điện thoại:</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Html.Raw(Model.Tbl_Customers?.Mainphone)</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Số điện thoại khác :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Html.Raw(Model.Tbl_Customers?.MobilePhone)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Tỉnh/Thành phố :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet?.TinhThanhPhoCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_Customers?.ProvinceID)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Quận/huyện :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.QuanHuyenCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_Customers?.DistrictID)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Phường/xã:</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.PhuongXaCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_Customers?.WardID)?.DisplayName)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Địa chỉ :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Html.Raw(Model.Tbl_Customers?.MobilePhone)</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Email:</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            <label>@Html.Raw(Model.Tbl_Customers?.Email)</label>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                    Thông tin kỹ thuật viên
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Trung tâm :</label>
                    </div>
                    <div class="col-sm-2">
                        <span class="tenTrungTamDuocAssign">
                            @Html.Raw(Model.AllOptionSet.AscCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.JobAndRequest.ServiceCenterID)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Kỹ thuật viên:</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.TechCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.JobAndRequest.TechnicalStaffID)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Ghi chú kỹ thuật viên :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.JobAndRequest.Description1</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Người hủy (nếu bị hủy) :</label>
                    </div>
                    <div class="col-sm-2">
                        <span class="text-danger">
                            @if (Model.JobAndRequest.RepairStatus == (int)AppEnum.RepairStatus.DaHuy)
                            {
                                @Html.Raw(Model.AllOptionSet.UserCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.JobAndRequest.ModifiedBy)?.DisplayName)
                            }
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Lý do hủy :</label>
                    </div>
                    <div class="col-sm-2">
                        <span class="text-danger">
                            @Html.Raw(Model.AllOptionSet.CancelReasonCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.JobAndRequest.CancelReasonId)?.DisplayName)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="techUpdate" style="display:none">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                    Phân công sửa chữa
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse show">
            <div class="card-body">
                <form name="update">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Trung tâm : </label>
                            <select id="assignedServiceCenterId" class="form-control form-control-sm">
                                <option value="">Chọn trung tâm</option>
                                @foreach (var item in Model.AllOptionSet.AscCombobox)
                                {
                                    <option value="@item.Id" @Html.Raw(Model.JobAndRequest.ServiceCenterID == Guid.Parse(item.Id) ? "selected" : "")>@item.DisplayName</option>
                                }
                            </select>
                        </div>
                        <div class="w-100" style="padding-top:10px !important">
                            <div class="col-sm-12">
                                <a name="btn-tech-save" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save</a>
                                <a name="btn-tech-cancel" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> Back</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="card" id="canceljobContainer" style="display:none">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="headingFive">
                    Cancellation
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Lý do hủy : </label>
                        <select id="cancelReasonId" class="form-control form-control-sm">
                            <option>Chọn lý do</option>
                            @foreach (var item in Model.AllOptionSet.CancelReasonCombobox)
                            {
                                <option value="@item.Id" @Html.Raw(Guid.Parse(item.Id) == Model.JobAndRequest.CancelReasonId ? "selected" : "")>@item.DisplayName</option>
                            }
                        </select>
                    </div>
                    <div class="w-100" style="padding-top:10px !important">
                        <div class="col-sm-12">
                            <a name="btn-tech-savecancel" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save</a>
                            <a name="btn-tech-back-cancel" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        string disableClass = string.Empty;
        if (Model.JobAndRequest.RepairStatus == (int)AppEnum.RepairStatus.DaHuy
            || Model.JobAndRequest.RepairStatus == (int)AppEnum.RepairStatus.HoanThanhBoiSVN
            || Model.JobAndRequest.RepairStatus == (int)AppEnum.RepairStatus.KhongChapNhanPhieu)
        {
            disableClass = "disabledbutton";
        }
    }
    <div class="w-100 " style="padding-top:10px !important;">
        <div id="btnUpdate" class="btn btn-sm btn-primary @disableClass"><i class="fa fa-edit"></i> Update</div>
        <div id="btnCancelJob" class="btn btn-sm btn-dark @disableClass"><i class="fa fa-edit"></i> Cancel Case</div>
        <div class="btn btn-sm btn-light @disableClass"><i class="fa fa-motorcycle"></i> Goods Delivery</div>
        <div class="btn btn-sm btn-info" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-print"></i> Print Order</div>
        <a class="btn btn-sm btn-danger" href="/staff/ServiceLog"><i class="fa fa-close"></i> Back</a>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="~/Resources/images/order.png" />
        </div>
    </div>
</div>
