@model IVG.Web.Mvc.Models.ChangePassword
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<form name="ChangePassword" action="/User/ChangePassword" method="post">
    <div class="container">
        <h4 class="container text-dark"><i class="fa fa-arrow-right"></i> Change Password</h4>
        <div class="col-sm-12">
            <div class="text-danger"> @ViewBag.Errors</div>
            <div class="text-primary"> @ViewBag.Info</div>
        </div>
        <div class="col-sm-12">
            <label>Current password <span class="text-danger">*</span></label>
            <input type="password" name="CurrentPassword" placeholder="Enter your current password" class="form-control-sm form-control" autofocus value="@Model.CurrentPassword" />
        </div>
        <div class="col-sm-12">
            <label>New password <span class="text-danger">*</span></label>
            <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" class="form-control-sm form-control" value="@Model.NewPassword" />
        </div>
        <div class="col-sm-12">
            <label>Confirm new password <span class="text-danger">*</span></label>
            <input type="password" name="confirmNewPassword" placeholder="Re-Enter new password" class="form-control-sm form-control" value="@Model.ConfirmNewPassword" />
        </div>
        <div class="col-sm-12" style="padding-top:10px;">
            <button type="submit" class="fa fa-save btn btn-primary"> Save</button>
        </div>
    </div>
</form>

