@model IVG.Web.Mvc.Models.Login
@using IVG.Web.Mvc.Models

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Resources/javascripts/FormAuthentication.js"></script>

<form class="" name="Login" method="post" action="/User/Login">
    <input type="text" style="display:none" name="ReturnUrl" value="@Model.ReturnUrl" />

    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12 font-weight-bold">
                    <h4>Login to My Portal @Html.Raw("@SEV")   </h4>
                </div>
                <div class="col-12 text-danger">
                    @Html.Raw(ViewBag.Errors)
                </div>
                <div class="col-12">
                    <label>Login ID</label>
                    <input autocomplete="off" type="text" name="userName" placeholder="Enter your User ID" autofocus class="form-control form-control-sm w-100" value="@Model.UserName" />
                </div>
                <div class="col-12">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your password" class="form-control form-control-sm w-100" value="@Model.Password" />
                </div>
                <div class="col-12">
                    <label>User Type</label>
                    <select class="form-control form-control-sm w-100" name="userType" id="userType">
                        <option value="@AppEnum.Role.Staff" @Html.Raw(Model.UserType == AppEnum.Role.Staff ? "selected" : "")>Staff</option>
                        <option value="@AppEnum.Role.Dealer" @Html.Raw(Model.UserType == AppEnum.Role.Dealer ? "selected" : "")>Dealer</option>
                    </select>
                </div>
                <div class="col-12 ">
                    <input id="remember" name="remember" class="btn" type="checkbox" />
                    <label class="btn m-0 p-0" for="remember">Remember my login</label>
                </div>
                <div class="col-12">
                    <button name="btnSubmit" type="submit" class="btn btn-primary w-100" value="Login">Login</button>
                </div>
                <div class="col-12">
                    <a id="TestBTN" href="/user/ForgotPassword" style="text-decoration: underline">Fogot password</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="banner">
                <img class="img-fluid" src="~/Resources/images/banner.jpg" alt="Ảnh banner" style="object-fit: cover;height: calc(100vh - 165px);width: 100%;" />
            </div>
        </div>


    </div>
</form>

