@model IVG.Web.Mvc.Models.GetRequestForCreateOrEditDto
@using IVG.Web.Mvc.EF;
@using System.Web.Script.Serialization;
@using IVG.Web.Mvc.Models;
@{
    ViewBag.Title = "AddRequest";
    Guid? cateid = null;
}
@if (Model.NoEdit)
{
    <script>
        var formDisable = true;
    </script>
}
else
{
    <script>
        var formDisable = false;
    </script>
}
<script src="~/Javascripts/Dealer/AddRequest.js"></script>
<div class="d-flex justify-content-between">
    <div class="">
        <a href="/"><i class="fa fa-home"></i> Home </a>  >
        <a href="/dealer/servicerequest"> Service request</a> >
        <a href="#"> @Html.Raw(Model.RequestOrJob.CaseID == Guid.Empty ? " Add New Record" : "Edit Record")</a>
    </div>
</div>

<!-- The Modal View Image -->
<div class="modal fade" id="imageViewModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <img name="imageView" class="img-fluid" src="~/Resources/images/order.png" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>



<form name="frmCaseRequest">
    <input type="text" name="id" style="display:none" value="@Model.RequestOrJob.CaseID" />
    <div class="row" style="padding:0 !important; display:flex">

        <div class="col-sm-3">
            <div class="col-sm-12">
                <label>Mã phiếu yêu cầu</label>
                <input name="requestCode" value="@Model.RequestOrJob.RequestCode" placeholder="Mã sinh tự động" type="text" class="form-control form-control-sm" disabled />
            </div>
            <div class="col-sm-12">
                <label>Mã Sự vụ</label>
                <input name="code" value="@Model.RequestOrJob.CaseCode" placeholder="Mã sinh khi chuyển thành sự vụ" type="text" class="form-control form-control-sm" disabled />
            </div>

            <div class="col-sm-12">
                <label>Người tiếp nhận</label>
                @if (Model.RequestOrJob.CaseID == Guid.Empty)
                {
                    <input name="nguoiTiepNhan" value="@Html.Raw(Model.AllOptionSet.UserCombobox.FirstOrDefault(x => x.Selected)?.DisplayName)" placeholder="Nhập người tiếp nhận" type="text" class="form-control form-control-sm" />
                }
                else
                {
                    <input name="nguoiTiepNhan" value="@Model.RequestOrJob.ReceivedBy" placeholder="Nhập người tiếp nhận" type="text" class="form-control form-control-sm" />
                }
            </div>
            <div class="col-sm-12">
                <label>Ngày tiếp nhận</label>
                <input name="ngayTiepNhan" value="@Html.Raw(Model.RequestOrJob.ReceivedDate?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12" style="display:none">
                <label>ASC</label>
                <select name="ASC" class="form-control form-control-sm" disabled>
                    <option value="">Chọn ASC</option>
                    @foreach (var item in Model.AllOptionSet.AscCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.ServiceCenterID == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
            <div class="col-sm-12" style="display:none">
                <label>Kỹ thuật viên</label>
                <select name="technician" class="form-control form-control-sm" disabled>
                    <option value="">Chọn kỹ thuật viên</option>
                    @foreach (var item in Model.AllOptionSet.TechCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.TechnicalStaffID == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
            <div class="col-sm-12" style="display:none">
                <label>Ngày KTV kiểm tra</label>
                <input name="ngayKtvKiemTra" value="@Html.Raw(Model.RequestOrJob.TechnicalCheckedOn?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Trạng thái</label>
                <select name="trangThaiPhieu" class="form-control form-control-sm" disabled>
                    @*<option value="">Chọn Trạng thái</option>*@
                    @foreach (var item in Model.AllOptionSet.TrangThaiPhieuCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.RepairStatus == int.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Người Tạo</label>
                <select name="nguoiTaoPhieu" class="form-control form-control-sm" disabled>
                    <option value="">Chọn người tạo</option>
                    @foreach (var item in Model.AllOptionSet.UserCombobox)
                    {
                        if (Model.RequestOrJob.CreatedBy.HasValue)
                        {
                            <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.CreatedBy == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                        }
                        else
                        {
                            <option value="@item.Id" @Html.Raw(item.Selected ? "selected" : "")>@item.DisplayName</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Ngày tạo</label>
                <input name="ngayTaoPhieu" value="@Html.Raw(Model.RequestOrJob.ReceivedDate?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" disabled />
            </div>

            <div class="col-sm-12">
                <label for="hienTuong">Hiện tượng <span class="text-danger">*</span> </label>
                <select name="hienTuong" id="hienTuong" class="form-control form-control-sm">
                    <option value="">Chọn hiện tượng</option>
                    @foreach (var item in Model.AllOptionSet.HienTuongCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.DefectCodeID == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12">
                <label>Sản phẩm</label>
                <select name="loaiSanPham" class="form-control form-control-sm">
                    <option value="">Loại sản phẩm</option>
                    @foreach (var item in Model.AllOptionSet.ProductCategoryCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.RequestOrJob.ProductCategoryId == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Sản phẩm</label>
                <select name="sanPham" class="form-control form-control-sm">
                    <option value="">Chọn sản phẩm</option>
                    @if (Model.RequestOrJob.CaseID != Guid.Empty)
                    {
                        foreach (var item in Model.AllOptionSet.ProductCombobox)
                        {
                            <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.ModelID == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Serial No</label>
                <input name="serialNo" value="@Html.Raw(Model.RequestOrJob.SerialNo)" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Ngày sản xuất</label>
                <input name="ngaySanXuat" value="@Html.Raw(Model.RequestOrJob.MadeDate?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Ngày mua</label>
                <input name="ngayMua" id="ngayMua" value="@Html.Raw(Model.RequestOrJob.PurchaseDate?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" />
                <input id="currentDate" value="@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd"))" type="date" style="display:none; width:0; height:0;" />
            </div>
            <div class="col-sm-12">
                <label>Ngày hết bảo hành</label>
                <input name="ngayHetBaoHanh" value="@Html.Raw(Model.RequestOrJob.EndDate?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Tình trạng bảo hành</label>
                <select name="tinhTrangBaoHanh" class="form-control form-control-sm">
                    <option value="">Chọn tình trạng bảo hành</option>
                    @foreach (var item in Model.AllOptionSet.TrangThaiBaoHanhCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.WarrantyStatus == int.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Phương thức bảo hành</label>
                <select name="hinhThucBaoHanh" class="form-control form-control-sm">
                    <option value="">Chọn phương thức bảo hành</option>
                    @foreach (var item in Model.AllOptionSet.HinhThucBaoHanhCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.WarrantyType == int.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="col-sm-12">
                <label>Tên khách hàng <span class="text-danger">*</span></label>
                <input name="khachHangId" type="text" value="@Model.RequestOrJob.CustomerID" style="display:none" />
                <input name="tenKhachHang" value="@Html.Raw(Model.Tbl_Customers.Name)" placeholder="Nhập tên khách hàng" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Điện thoại <span class="text-danger">*</span></label>
                <input name="soDienThoai" value="@Html.Raw(Model.Tbl_Customers?.Mainphone)" placeholder="Nhập số điện thoại" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Số điện thoại khác</label>
                <input name="soDienthoaiKhac" value="@Html.Raw(Model.Tbl_Customers.MobilePhone)" placeholder="Nhập số điện thoại" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Email</label>
                <input name="email" value=" @Html.Raw(Model.Tbl_Customers.Email)" placeholder="Nhập Email liện hệ" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Địa chỉ <span class="text-danger">*</span></label>
                <input name="diaChi" value="@Html.Raw(Model.Tbl_Customers.Address)" placeholder="Nhập địa chỉ" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Tỉnh/Thành phố <span class="text-danger">*</span></label>
                <select name="tinhTP" class="form-control form-control-sm">
                    <option value="">Chọn tỉnh/thành phố</option>
                    @foreach (var item in Model.AllOptionSet.TinhThanhPhoCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.Tbl_Customers?.ProvinceID == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Quận Huyện <span class="text-danger">*</span></label>
                <select name="quanHuyen" class="form-control form-control-sm" @Html.Raw((Model.Tbl_Customers.ProvinceID.HasValue) ? "" : "disabled")>
                    <option value="">Chọn quận/huyện</option>
                    @foreach (var item in Model.AllOptionSet.QuanHuyenCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.Tbl_Customers?.DistrictID == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Phường/Xã <span class="text-danger">*</span></label>
                <select name="phuongXa" class="form-control form-control-sm" @Html.Raw((Model.Tbl_Customers.DistrictID.HasValue) ? "" : "disabled")>
                    <option value="">Chọn phường/xã</option>
                    @foreach (var item in Model.AllOptionSet.PhuongXaCombobox)
                    {
                        <option value="@item.Id" @Html.Raw((Model.Tbl_Customers?.WardID == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12">
                <label>Diễn giải</label>
                <textarea name="dienGiai" placeholder="Nhập nội dung diễn giải, ghi chú..." type="text" style="height:90px;resize:none" class="form-control form-control-sm">@Html.Raw(Model.RequestOrJob.Description)</textarea>
            </div>

            <div class="col-sm-12">
                <label>Người Sửa</label>
                <select name="nguoiSuaPhieu" class="form-control form-control-sm" disabled>
                    <option value="">Chọn người sửa</option>
                    @foreach (var item in Model.AllOptionSet.UserCombobox)
                    {
                        if (Model.RequestOrJob.ModifiedBy.HasValue)
                        {
                            <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.ModifiedBy == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                        }
                        else
                        {
                            <option value="@item.Id" @Html.Raw(item.Selected ? "selected" : "")>@item.DisplayName</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Ngày sửa</label>
                <input name="ngaySuaPhieu" value="@Html.Raw(Model.RequestOrJob.ModifiedOn?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" disabled />
            </div>
            <div class="col-sm-12">
                <label>Người chuyển thành sự vụ</label>
                <select name="nguoiChuyenThanhSuVu" class="form-control form-control-sm" disabled>
                    <option value="">Chọn người chuyển thành sự vụ</option>
                    @foreach (var item in Model.AllOptionSet.UserCombobox)
                    {
                        if (Model.RequestOrJob.ConvertBy.HasValue)
                        {
                            <option value="@item.Id" @Html.Raw((Model.RequestOrJob?.ConvertBy == Guid.Parse(item.Id)) ? "selected" : "")>@item.DisplayName</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.DisplayName</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <label>Ngày chuyển thành sự vụ</label>
                <input name="ngayChuyenThanhSuVu" value="@Html.Raw(Model.RequestOrJob.ConvertOn?.ToString("yyyy-MM-dd"))" type="date" class="form-control form-control-sm" disabled />
            </div>
            <div class="col-sm-12">
                <label>Hình ảnh:</label>
                @foreach (var item in Model.Files?? new List<FileForView>())
                {
                    <span id=".image-name-container">
                        <a href="#" data-base64="@item.Base64" class="text-info view-image"> @item.Name </a>
                        @if (!((Model.RequestOrJob.RepairStatus ?? 0) > (int)AppEnum.RepairStatus.ChuaXuLy))
                        {
                            <i data-id="@item.ID" data-name="@item.Name" class="delete-image fa fa-close text-danger" style="cursor:pointer" title="Xóa ảnh này"></i>
                        }
                    </span>
                }
                @if (!((Model.RequestOrJob.RepairStatus ?? 0) > (int)AppEnum.RepairStatus.ChuaXuLy))
                {
                    <input type="file" name="images" multiple="multiple" accept="image/*">
                }
            </div>
        </div>

    </div>
    <div class="container" style="padding-top:10px;">
        <div class="btn-group">
            <button name="save" type="submit" class="btn btn-sm btn-primary"> <i class="fa fa-save"> Save</i></button>
            @if (Model.RequestOrJob.CaseID == Guid.Empty)
            {
                <a href="/dealer/servicerequest" class="btn btn-sm btn-danger"> <i class="fa fa-close"> Cancel</i></a>
            }
            else
            {
                <a href="@Html.Raw($"/dealer/servicedetail?id={Model.RequestOrJob.CaseID}")" class="btn btn-sm btn-danger"> <i class="fa fa-close"> Cancel</i></a>
            }
        </div>
    </div>
</form>
