@model IVG.Web.Mvc.Models.GetRequestForCreateOrEditDto
@{
    ViewBag.Title = "Request Details";
}
<style>
    .card-header {
        padding: 0 !important;
    }
</style>
<div class="d-flex justify-content-between">
    <div class="">
        <a href="/"><i class="fa fa-home"></i> Home </a>  >
        <a href="/dealer/ServiceRequest"> Service request</a> >
        <a href="#"> Request detail</a>
    </div>
    <div class="col-sm-2 btn-group" style="padding-right:0 !important;padding-top:2px !important">
        <a class="btn btn-sm btn-primary" href="@Html.Raw($"/dealer/addrequest?id={Model.Tbl_CasesRequest.CaseID}")"><i class="fa fa-edit"> Edit </i></a>
        <a class="btn btn-sm btn-danger" href="/dealer/ServiceRequest"><i class="fa fa-edit"> Back </i></a>
    </div>
</div>
<div id="accordion" style="padding-top:5px">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Report details
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Code :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_CasesRequest.Code</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Reference code :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_CasesRequest.ReferenceCode</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Status :</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="text-warning">@Model.Tbl_CasesRequest.Status</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Created By :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.UserCombobox.FirstOrDefault(a=>Guid.Parse(a.Id)==Model.Tbl_CasesRequest.CreatedBy)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Created On :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Html.Raw(Model.Tbl_CasesRequest.CreatedOn?.ToString("dd-MM-yyyy HH:mm"))</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Received By :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.Tbl_CasesRequest.ReceivedBy</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Issue :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.HienTuongCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_CasesRequest.DefectID)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Description 1 :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.Tbl_CasesRequest.Description</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Description 2 :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.Tbl_CasesRequest.SVNDescript</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Product Details
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Product :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Html.Raw(Model.AllOptionSet.ProductCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_CasesRequest.ModelID)?.DisplayName)</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Srial No :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_CasesRequest.SerialNo</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Purchase Date :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Html.Raw(Model.Tbl_CasesRequest.PurchaseDate?.ToString("dd-MM-yyyy"))</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Model Code :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                        @Html.Raw(Model.AllOptionSet.ProductCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_CasesRequest.ModelID)?.DisplayName)</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Warranty :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_CasesRequest.WarrantyStatus</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Customer Details
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Customer Name :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_Customers.Name</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Telephone 1</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_Customers.Mainphone</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Telephone 2 :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.Tbl_Customers.MobilePhone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Address 1 :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_Customers.MobilePhone</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Address 2 :</label>
                    </div>
                    <div class="col-sm-2">
                        <span></span>
                    </div>
                    <div class="col-sm-2">
                        <label>State :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.TinhThanhPhoCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_Customers.ProvinceID)?.DisplayName)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                    Techician
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>ASC :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.AscCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_CasesRequest.ServiceCenterID)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Technician</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.TechCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_CasesRequest.TechnicalStaffID)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Description :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.Tbl_CasesRequest.SVNDescript</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Cancel By :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.TechCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_CasesRequest.ModifiedBy)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Canceled Reason</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_CasesRequest.RejectReason</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>