@model IVG.Web.Mvc.Models.GetRequestForCreateOrEditDto
@{
    ViewBag.Title = "Request Details";
}
<style>
    .card-header {
        padding: 0 !important;
    }
</style>
<div class="d-flex justify-content-between">
    <div class="">
        <a href="/"><i class="fa fa-home"></i> Home </a>  >
        <a href="/dealer/ServiceRequest"> Service request</a> >
        <a href="#"> Request detail</a>
    </div>
    <div class="col-sm-2 btn-group" style="padding-right:0 !important;padding-top:2px !important">
        <a class="btn btn-sm btn-primary" href="@Html.Raw($"/dealer/addrequest?id={Model.RequestOrJob.CaseID}")"><i class="fa fa-edit"> Edit </i></a>
        <a class="btn btn-sm btn-danger" href="/dealer/ServiceRequest"><i class="fa fa-edit"> Back </i></a>
    </div>
</div>
<div id="accordion" style="padding-top:5px">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Thông tin tiếp nhận
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Mã sự vụ:</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.RequestOrJob.CaseCode</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Mã phiếu yêu cầu :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.RequestOrJob.RequestCode</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Trạng thái :</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="text-warning">
                            @Html.Raw(Model.AllOptionSet.TrangThaiPhieuCombobox.FirstOrDefault(a => int.Parse(a.Id) == (Model.RequestOrJob.RepairStatus ?? 1))?.DisplayName)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Người tạo :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.UserCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.RequestOrJob.CreatedBy)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Ngày tạo :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Html.Raw(Model.RequestOrJob.CreatedOn?.ToString("dd-MM-yyyy HH:mm"))</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Người tiếp nhận :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Html.Raw(Model.RequestOrJob.ReceivedBy)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Hiện tượng :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.HienTuongCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.RequestOrJob.DefectCodeID)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Diễn giải :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.RequestOrJob.Description</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Ghi chú :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.RequestOrJob.Description1</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Thông tin sản phẩm
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Mã|Tên sản phẩm :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Html.Raw(Model.AllOptionSet.ProductCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.RequestOrJob.ModelID)?.DisplayName)</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Số serial :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.RequestOrJob.SerialNo</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Ngày mua :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Html.Raw(Model.RequestOrJob.PurchaseDate?.ToString("dd-MM-yyyy"))</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Ngày sản xuất :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.RequestOrJob.MadeDate?.ToString("dd-MM-yyyy"))
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Ngày hết bảo hành :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.RequestOrJob.EndDate?.ToString("dd-MM-yyyy"))
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Trạng thái bảo hành :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.TrangThaiBaoHanhCombobox.FirstOrDefault(a => int.Parse(a.Id) == Model.RequestOrJob.WarrantyStatus)?.DisplayName)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Thông tin khách hàng
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Tên khách hàng :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_Customers.Name</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Số điện thoại:</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_Customers.Mainphone</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Số điện thoại khác :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.Tbl_Customers.MobilePhone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Tỉnh/Thành phố :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.TinhThanhPhoCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_Customers.ProvinceID)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Quận/huyện :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.QuanHuyenCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_Customers.DistrictID)?.DisplayName)
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Phường/xã:</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            @Html.Raw(Model.AllOptionSet.PhuongXaCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.Tbl_Customers.WardID)?.DisplayName)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Địa chỉ :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>@Model.Tbl_Customers.MobilePhone</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Email:</label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            <label>@Model.Tbl_Customers.Email</label>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                    Thông tin kỹ thuật viên
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Trung tâm :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.AscCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.RequestOrJob.ServiceCenterID)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Kỹ thuật viên:</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.TechCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.RequestOrJob.TechnicalStaffID)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Ghi chú kỹ thuật viên :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>@Model.RequestOrJob.Description1</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Người hủy (nếu bị hủy) :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.TechCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.RequestOrJob.ModifiedBy)?.DisplayName)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Lý do hủy :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>
                            @Html.Raw(Model.AllOptionSet.CancelReasonCombobox.FirstOrDefault(a => Guid.Parse(a.Id) == Model.RequestOrJob.CancelReasonId)?.DisplayName)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
